project/client/node_modules
project/functions/functions/node_modules
node_modules
.DS_STORE
project/.DS_STORE
project/client/.DS_STORE
client/.DS_STORE
node_modules
.nyc_output/
coverage/
node_modules/
npm-debug.log
package-lock.json
test/*.log
project/.nyc_output/
project/coverage/
project/node_modules/
project/npm-debug.log
project/package-lock.json
project/test/*.log
project/client/.nyc_output/
project/client/coverage/
project/client/node_modules/
project/client/npm-debug.log
project/client/package-lock.json
project/client/test/*.log
project/functions/functions/.nyc_output/
project/functions/functions/coverage/
project/functions/functions/node_modules/
project/functions/functions/npm-debug.log
project/functions/functions/package-lock.json
project/functions/functions/test/*.log